.calender-open {
    text-align: center;
}
.box-open{
    margin: 0 auto;
    width: 880px;
}
.title-open{
    background: skyblue;
    border-radius: 4px;
}
.table-open{
    height: 150px;
    width: 220px;
    font-size: 12px;
    text-align: center;
    float: left;
    margin: 10px;
    font-family: Arial,serif;
}
.today-open {
    background-color: cornflowerblue;
    border-radius: 4px;
    font-weight: bold;
}